// Геометрия верстки
$appMaxWidthMobile: 599px;
$appMarTopMobile: 46px;
$appMarTBMobile: 0px;
$appPadTBMobile: 20px;
$appPadRLMobile: 16px;

$appMinWidthTablet: 600px;
$appMaxWidthTablet: 959px;
$appMarTopTablet: 32px;
$appMarTBTablet: 0px;
$appPadTBTablet: 24px;
$appPadRLTablet: 24px;

$appMinWidthLaptop: 960px;
$appMaxWidthLaptop: 1539px;
$appMarTopLaptop: 32px;
$appMarTBLaptop: 40px;
$appPadTBLaptop: 24px;
$appPadRLLaptop: 30px;

$appMinWidthDesktop: 1540px;
$appMarTopDesktop: 32px;
$appMarTBDesktop: 48px;
$appPadTBDesktop: 24px;
$appPadRLDesktop: 40px;

// @import '../../assets/scss/media';
// @media all and (min-width: $appMinWidthDesktop) {
// }
// @media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
// }
// @media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
// }
// @media all and (max-width: $appMaxWidthMobile) {
// }
