// Геометрия верстки
$appMinWidthDesktop: 1540px;
$appMarTopDesktop: 32px;
$appMarTBDesktop: 48px;
$appPadTBDesktop: 24px;
$appPadRLDesktop: 40px;

$appMaxWidthLaptop: 1539px;
$appMinWidthLaptop: 960px;
$appMarTopLaptop: 32px;
$appMarTBLaptop: 40px;
$appPadTBLaptop: 24px;
$appPadRLLaptop: 30px;

$appMaxWidthTablet: 959px;
$appMinWidthTablet: 600px;
$appMarTopTablet: 32px;
$appMarTBTablet: 0px;
$appPadTBTablet: 24px;
$appPadRLTablet: 24px;

$appMaxWidthMobile: 599px;
$appMarTopMobile: 46px;
$appMarTBMobile: 0px;
$appPadTBMobile: 20px;
$appPadRLMobile: 16px;
