@import '../../assets/scss/mixins';

.lifeNews {
  width: 100%;
}

.accordion {
  &__item + &__item {
    border-top: 1px solid var(--white);
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 8px 10px 8px 8px;
    border: none;
    border-radius: 3px;
    text-align: left;
    line-height: 20px;
    background-color: var(--blueD4);
    cursor: pointer;
    @include animeTransitionEasyInOut03(background-color);

    &:hover {
      background-color: var(--blue82);
    }
    &[aria-expanded='true'],
    &[aria-selected='true'] {
      background-color: var(--blue82);
    }
    &:after {
      content: '';
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: rotate(-45deg);
      @include animeTransition(transform, 0.4s, ease-in-out);
    }
    &[aria-expanded='true']::after,
    &[aria-selected='true']::after {
      transform: rotate(45deg);
    }
  }
  &__panel {
    padding: 5px 5px 10px 15px;
    animation: showPanel 0.4s ease-in-out;

    & [hidden] {
      display: none;
    }
  }
}

@keyframes showPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
