@import '../../assets/scss/media';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  min-width: 220px;

  &Label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2em 0.5em;
    width: 100%;
    font-weight: 500;

    &Group {
      position: relative;
      width: 100%;

      &Input {
        max-width: 300px;
      }
    }
  }
  &Input {
    width: 100%;
    border: none;
    font-weight: 300;
    color: var(--black23);
    background-color: var(--white);
  }
  &Error {
    position: absolute;
    font-weight: 300;
    color: var(--redDC);
  }
  &TextArea {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-weight: 300;
    color: var(--black23);
  }
}

.button {
  align-self: flex-end;
}

@media all and (min-width: $appMinWidthDesktop) {
  .form {
    gap: 25px;

    &Input {
      padding: 15px 15px;
      font-size: 16px;
      line-height: 17px;
    }
    &Error {
      top: 2px;
      left: 15px;
      font-size: 12px;
      line-height: 12px;
    }
    &TextArea {
      height: 90px;
      padding: 15px 15px;
      font-size: 16px;
      line-height: 17px;
    }
  }
}

@media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
  .form {
    gap: 20px;

    &Input {
      padding: 15px 15px;
      font-size: 15px;
      line-height: 16px;
    }
    &Error {
      top: 2px;
      left: 15px;
      font-size: 12px;
      line-height: 12px;
    }
    &TextArea {
      height: 100px;
      padding: 15px 15px;
      font-size: 15px;
      line-height: 16px;
    }
  }
}

@media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
  .form {
    gap: 15px;

    &Input {
      padding: 15px 15px;
      font-size: 15px;
      line-height: 16px;
    }
    &Error {
      top: 2px;
      left: 15px;
      font-size: 12px;
      line-height: 12px;
    }
    &TextArea {
      height: 110px;
      padding: 15px 15px;
      font-size: 15px;
      line-height: 16px;
    }
  }
}

@media all and (max-width: $appMaxWidthMobile) {
  .form {
    gap: 10px;

    &Input {
      padding: 13px 15px;
      font-size: 14px;
      line-height: 15px;
    }
    &Error {
      top: 2px;
      left: 15px;
      font-size: 12px;
      line-height: 12px;
    }
    &TextArea {
      height: 120px;
      padding: 13px 15px;
      font-size: 14px;
      line-height: 15px;
    }
  }
}
