@import '../../../assets/scss/mixins';
@import '../../../assets/scss/media';

.pageContacts {
  width: 100%;
}

.linkTo {
  text-decoration: underline;
  color: inherit;
  @include animeTransitionEasyInOut03(color);

  &:hover {
    color: var(--golub00);
  }
}

.placeForm {
  width: 100%;
  max-width: max-content;
  min-width: min-content;
  border-radius: 4px;
  background-color: var(--blueAC);
}

.placeMap {
  width: 100%;
  border: 1px dotted black;
}

@media all and (min-width: $appMinWidthDesktop) {
  .placeForm {
    padding: 30px;
  }
  .placeMap {
    height: 70vh;
  }
}

@media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
  .placeForm {
    padding: 20px;
  }
  .placeMap {
    height: 50vh;
  }
}

@media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
  .placeForm {
    padding: 15px;
  }
  .placeMap {
    height: 50vh;
  }
}

@media all and (max-width: $appMaxWidthMobile) {
  .placeForm {
    padding: 10px;
  }
  .placeMap {
    height: 40vh;
  }
}
