@import '../../../assets/scss/mixins';

.pageContacts {
  width: 100%;
}

.linkTo {
  text-decoration: underline;
  color: inherit;
  @include animeTransitionEasyInOut03(color);

  &:hover {
    color: var(--golub00);
  }
}
