@import '../../assets/scss/media';

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
}

.left {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.right {
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media all and (min-width: $appMinWidthDesktop) {
  .content {
    gap: 80px;
  }
  .left {
    grid-column-end: 9;
  }
  .right {
    grid-column-start: 9;
  }
}

@media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
  .content {
    gap: 30px;
  }
  .left {
    grid-column-end: 10;
  }
  .right {
    grid-column-start: 10;
  }
}

@media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media all and (max-width: $appMaxWidthMobile) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
