@import '../../assets/scss/media';

.text {
  margin: 0;
  padding: 0;
}
.font {
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--fontLineHeight);
}
.inline {
  display: inline;
}
.upperCase {
  text-transform: uppercase;
}
.textDecoration {
  text-decoration: var(--decoration);
}
.textAling {
  text-align: var(--aling);
}
.cursor {
  cursor: var(--cursor);
}
.color {
  color: var(--color);
}

@media all and (min-width: $appMinWidthDesktop) {
  .fontDesktop {
    font-weight: var(--fontDesktopWeight);
    font-size: var(--fontDesktopSize);
    line-height: var(--fontDesktopLineHeight);
  }
}

@media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
  .fontLaptop {
    font-weight: var(--fontLaptopWeight);
    font-size: var(--fontLaptopSize);
    line-height: var(--fontLaptopLineHeight);
  }
}

@media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
  .fontTablet {
    font-weight: var(--fontTabletWeight);
    font-size: var(--fontTabletSize);
    line-height: var(--fontTabletLineHeight);
  }
}

@media all and (max-width: $appMaxWidthMobile) {
  .fontMobile {
    font-weight: var(--fontMobileWeight);
    font-size: var(--fontMobileSize);
    line-height: var(--fontMobileLineHeight);
  }
}
