@import '../../assets/scss/mixins';
@import '../../assets/scss/media';

.header {
  width: 100%;
  margin-bottom: 24px;
}

@media all and (max-width: $appMaxWidthMobile) {
  .header {
    margin-bottom: 14px;
    text-align: center;
  }
}
