@import '../../assets/scss/media';

.star {
  position: absolute;
  color: var(--white);
  animation: star 1s linear infinite;

  &1 {
    top: 1%;
    left: 6%;
    animation-delay: 0.1s;
  }
  &2 {
    top: 1%;
    left: 7%;
    animation-delay: 0.22s;
  }
  &3 {
    top: 3%;
    left: 7%;
    animation-delay: 0.85s;
  }
  &4 {
    top: 5%;
    left: 7%;
    animation-delay: 0.75s;
  }
  &5 {
    top: 5%;
    left: 9%;
    animation-delay: 0.47s;
  }
  &6 {
    top: 5%;
    left: 11%;
    animation-delay: 0.63s;
  }
  &7 {
    top: 6%;
    left: 11%;
    animation-delay: 0.53s;
  }
  &8 {
    top: 6%;
    left: 9%;
    animation-delay: 0.27s;
  }
  &9 {
    top: 6%;
    left: 7%;
    animation-delay: 0.16s;
  }
  &10 {
    top: 8%;
    left: 7%;
    animation-delay: 0.94s;
  }
  &11 {
    top: 10%;
    left: 7%;
    animation-delay: 0.59s;
  }
  &12 {
    top: 10.7%;
    left: 8.25%;
    animation-delay: 0.96s;
  }
  &13 {
    top: 11.5%;
    left: 9.5%;
    animation-delay: 0.83s;
  }
  &14 {
    top: 12.45%;
    left: 9%;
    animation-delay: 0.72s;
  }
  &15 {
    top: 11.9%;
    left: 8%;
    animation-delay: 0.3s;
  }
  &16 {
    top: 11.4%;
    left: 7%;
    animation-delay: 0.09s;
  }
  &17 {
    top: 12.5%;
    left: 7%;
    animation-delay: 0.67s;
  }
  &18 {
    top: 14%;
    left: 7%;
    animation-delay: 0.87s;
  }
  &19 {
    top: 16%;
    left: 7%;
    animation-delay: 0.57s;
  }
  &20 {
    top: 16%;
    left: 6%;
    animation-delay: 0.12s;
  }
  &21 {
    top: 14%;
    left: 6%;
    animation-delay: 0.44s;
  }
  &22 {
    top: 12%;
    left: 6%;
    animation-delay: 0.19s;
  }
  &23 {
    top: 10.85%;
    left: 6%;
    animation-delay: 0.26s;
  }
  &24 {
    top: 10.25%;
    left: 4.8%;
    animation-delay: 0.86s;
  }
  &25 {
    top: 9.6%;
    left: 3.55%;
    animation-delay: 0.45s;
  }
  &26 {
    top: 8.6%;
    left: 4%;
    animation-delay: 0.15s;
  }
  &27 {
    top: 9.15%;
    left: 5%;
    animation-delay: 0.25s;
  }
  &28 {
    top: 9.6%;
    left: 6%;
    animation-delay: 0.5s;
  }
  &29 {
    top: 7.8%;
    left: 6%;
    animation-delay: 0.38s;
  }
  &30 {
    top: 6%;
    left: 6%;
    animation-delay: 1.05s;
  }
  &31 {
    top: 6%;
    left: 4%;
    animation-delay: 0.29s;
  }
  &32 {
    top: 6%;
    left: 2%;
    animation-delay: 0.78s;
  }
  &33 {
    top: 5%;
    left: 2%;
    animation-delay: 0.14s;
  }
  &34 {
    top: 5%;
    left: 4%;
    animation-delay: 0.36s;
  }
  &35 {
    top: 5%;
    left: 6%;
    animation-delay: 0.69s;
  }
  &36 {
    top: 3%;
    left: 6%;
    animation-delay: 0.42s;
  }
}

@keyframes star {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@media all and (min-width: $appMinWidthDesktop) {
  .star {
    font-size: 10px;
  }
}

@media all and (min-width: $appMinWidthLaptop) and (max-width: $appMaxWidthLaptop) {
  .star {
    font-size: 7px;
  }
}

@media all and (min-width: $appMinWidthTablet) and (max-width: $appMaxWidthTablet) {
  .star {
    font-size: 6px;
  }
}

@media all and (max-width: $appMaxWidthMobile) {
  .star {
    font-size: 5px;
  }
}
