.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-vpravoslav {
  background-image: url('../../assets/icons/icon-vpravoslav.png');
}

.icon-vpravoslav-big {
  background-image: url('../../assets/icons/icon-vpravoslav-big.png');
}
